
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tab[data-type='TreeView'] {
  min-width: 100%;
  border: none;
}

.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  // tree-view file colors are primarly controled in the list.less > list-tree
  // this makes sure the correct colors are used if another package
  // adds any text to the tree-view
  color: @text-color;
  background-color: @tree-view-background-color;

  .list-item{
    .selected {
      color: @text-color-selected;
    }
    // mixin for git.less > git-status
    .git-status;
  }
}
